{% extends 'main.html' %}

{% block content %}


<div class="main-container">
<div class="main-middle-column" style="margin-bottom:10em;">

    <div class="topnav">
    <a href="{{request.META.HTTP_REFERER}}">Zurück</a>
    </div>

    <div>
        <h1>Accountverwaltung </h1>
        <h2> von {{user.username}}</h2>

       <ul style="line-height:2;">
            <li><a href="{% url 'user-update' %}">Angaben ergänzen<a></li>
            <li><a href="{% url 'user-profile' user.id %}">User Seite ansehen<a></li>
            <li>Meine Rezepte</li>
            <li>Meine Likes</li>
            <li>Meine Bewertungen</li>
            <li><a href="/api/recipes">Export meiner Rezepte</a></li>
            <li><a href="/api/topics">Export Topics</a></li>
            <li><a href="{% url 'user-logout' %}">Logout</a></li>
            <br> <br>
            <li>Account löschen</li>
        </ul>

    </div>

</div>
</div>

{% endblock %}