{% extends 'main.html' %}

{% block content %}

<div class="main-container">
<div class="main-middle-column" style="margin-bottom:10em;">

    <ul class="breadcrumb">
        <li><a href="{{request.META.HTTP_REFERER}}">Zurück</a></li>
        <li><a href="{% url 'user-login' %}">Login</a></li>
        <li>Login Required</li>
    </ul>


    <div>
        <h3>Login Notwendig</h3>

        <p>
            Sie müssen sich
            <a href="{% url 'user-login' %}" class="button-like">Einloggen</a> oder
            <a href="{% url 'user-register' %}" class="button-like">Registrieren</a>
            um diese Seite zu sehen bzw. zu bearbeiten.
        </p>
    </div>
</div>
</div>

{% endblock %}