{% extends 'main.html' %}

{% block content %}


<div class="main-container">
<div class="main-middle-column" style="margin-bottom:10em;">
    <ul class="breadcrumb">
        <li><a href="{{request.META.HTTP_REFERER}}">Zurück</a></li>
        <li>Profil: {{user.username}}</li>
    </ul>

    <div style="text-align:center;">
        <h2>Pofil von {{user.username}}</h2>

        {% if request.user == user %}
        <div style="text-align: right;">
            <a href="{% url 'user-update' %}" class="button-like">&#9998; Update</a>
            <a href="{% url 'user-account' %}" class="button-like">&#9776; Account</a>
        </div>
        {% endif %}

        {% if user.user_image %}
            <img src="{{ user.user_image.url }}" style="width: 200px; height: 200px;" >
        {% endif %}
        <p>

        </p>
        <p>
            Über Mich:
            {% if user.biography %}
                {{ user.biography }}
            {% endif %}
        </p>

        <br>
        <p>Mitglied bei Lieblingsrezepten seit {{user.created}} </p>
        <p>Hat insgesamt {{user.recipe_set.all.count}} Rezepte erstellt und {{user.likes.all.count|default_if_none:"0"}} Rezepte geliked.</p>
        <br>
        <div style="text-align:left;">
        <form method="GET" action="{% url 'recipes' %}">
              <button type="submit" name="q" value={{user.username}}>&#8618; Zu den Rezepten von {{user.username}}</button>
        </form>
        </div>

    </div>

</div>
</div>

{% endblock %}