{% extends 'main.html' %}

{% block content %}

<style>
    textarea {
        vertical-align: top;
        width: 500px;
        background-color: white;
    }
    input {
        width: 200px;
    }
</style>

<div class="main-container">
<div class="main-middle-column" style="margin-bottom:10em;">
    <ul class="breadcrumb">
        <li><a href="{{request.META.HTTP_REFERER}}">Zurück</a></li>
        <li>Neuer Benutzer</li>
    </ul>

    <div style="text-align:left">
        {% if error_registration %}
        <p> {{error_registration}} </p>
        {% endif %}

        <h3>Registrieren</h3>

         <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
         <p>
            <button type="submit" value="update"> Registrieren </button>
            </p>

        </form>

        <br>
        <br>
        <p>Bereits registriert?</p>
        <a href="{% url 'user-login' %}" class="button-like">Login</a>
    </div>

</div>
</div>

{% endblock %}