{% extends 'main.html' %}

{% block content %}

<style>
    .span_green {
        background-color:#8FBC8F;
        border-radius: 5px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
</style>

<div class="main-container">

    <div class="main-middle-column">
        <ul class="breadcrumb">
          <li><a href="{{request.META.HTTP_REFERER}}">Zurück</a></li>
          <li>Forum</li>
        </ul>

        <div class="card">
            <h2>Forum</h2>
            <p>Diskutiere über Tipps und Tricks rund ums Kochen.</p>
            <search>
                <form method="GET" action="{% url 'rooms' %}">
                      <input type="text" name="q" placeholder="Suche ..."
                        {% if request.GET.q %}
                            value="{{request.GET.q|default_if_none:''}}"
                        {% endif %}
                      />
                </form>
            </search>
        </div>
        <div style="text-align: right;">
             <a href="{% url 'create-room' %}" class="button-like">&#9998; Neue Unterhaltung </a>
        </div>

    {% for room in rooms %}

    <div class="room-container">
        <div>
            <a href="{% url 'room' room.id %}"><h2>{{room.name}}</h2></a>
            <p><span class="span_green">{{room.topic.name}}</span></p>
            <p>{{room.description}}</p>
        </div>

        <div>
            <p>
                von
                <a href="{% url 'user-profile' room.host.id %}"><span>{{room.host.username}}</span></a>
                vor
                <span>{{room.created|timesince}}</span>
                (<a href="{% url 'room' room.id %}" >{{room.participants.all.count}} Teilnehmer</a>)
            </p>
        </div>
    </div>

    {% endfor %}

    <div class="card">
        <div class="grid-option" style="text-align:center;">

        <form method="GET" action="">
            Seiten:
            {% if page_browser_show_back is not None %}
                <button type="submit" name="pgNr" value="{{page_browser_show_back}}">&larr; Zurück</button>
            {% endif %}
            {% if page_browser_show_start is not None %}
                <button type="submit" name="pgNr" value="{{page_browser_show_start}}">{{page_browser_show_start|add:"1"}}</button>
            {% endif %}
            {% if page_browser_show_start_dots %}
                ...
            {% endif %}
            {% for i in page_browser_choices_down %}
                <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
            {% endfor %}
            <span class="button-display"><u>{{page_browser_current_index|add:"1"}}</u></span>
            {% for i in page_browser_choices_up %}
                <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
            {% endfor %}
            {% if page_browser_show_stop_dots %}
                ...
            {% endif %}
            {% if page_browser_show_stop is not None %}
                <button type="submit" name="pgNr" value="{{page_browser_show_stop}}">{{page_browser_show_stop|add:"1"}}</button>
            {% endif %}
            {% if page_browser_show_next is not None %}
                <button type="submit" name="pgNr" value="{{page_browser_show_next}}">Weiter &rarr;</button>
            {% endif %}
            <!-- Hidden input -->
            {% if request.GET.q %}
                <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
            {% endif %}
            {% if request.GET.srtdir %}
                <input type="hidden" name="srtdir" value="{{request.GET.srtdir|default_if_none:''}}"/>
            {% endif %}
            {% if request.GET.srtval %}
                <input type="hidden" name="srtval" value="{{request.GET.srtval|default_if_none:''}}"/>
            {% endif %}
            {% if request.GET.tpc %}
                <input type="hidden" name="tpc" value="{{request.GET.tpc|default_if_none:''}}"/>
            {% endif %}
        </form>
        </div>
    </div>

    </div>
</div>

{% endblock content %}