<!DOCTYPE html>
{% load static %}

<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}" />
    <title>Favourite Recipes</title>
</head>

<body>

    {% include 'header.html' %}

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    <div class="footer">
        <p>
            <strong>Kontakt:</strong><br><br>
            admin@lieblingsrezepze.de
        </p>
        <p>
            <strong>Impressum:</strong><br><br>
            Lieblingsrezepte<br>
            Spaghettistraße 1<br>
            1234 Pastahausen<br>
        </p>
        <p>
            &copy; Copyright xxxx
        </p>
    </div>

</body>

</html>

