header {

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

  box-sizing: content-box;
  text-align: center;
  background-color: white;

  margin-bottom: 2em;
  margin-top: 2em;
}

header h1 {
  font-size: 2em;
  line-height: 0.7;
}

header > .header-item {
   margin-right: 1em;
   margin-left: 1em;
   display: inline-block;
   vertical-align: middle;
}

header > .header-item > .header-title-icon {
   display: inline-block;
   width: 4.2em;
   height: 4.2em;
}

header > .header-item > .header-title-icon img {
   width: 100%;
   height: 100%;
}

header > .header-item > .header-title {
   display: inline-block;
}

header > .header-item > search {
   display: inline-block;
   margin-left: 1em;
   margin-right: 1em;
}

header > .header-item > search input[type=text] {
    box-sizing: content-box;
    vertical-align: middle;
    width: 19em;
    height: 2.2em;
    border-style: solid;
    border-radius: 1em 1em 1em 1em;
    border-width: 0.15em;
    border-color: grey;
    text-align: center;
    padding: 0.4em;
    padding-right: 3.5em;
    margin-right: -1.8em;
}

header > .header-item > search button {
    box-sizing: content-box;
    vertical-align: middle;
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
    background-color: white;
    border-style: none;
    border-radius: 0em 1em 1em 0em;
    border-width: 0.15em;
    border-color: grey;
    margin-left: -1.77em;
    padding: 0.4em;
}


header > .header-item > search svg {
    width: 70%;
    height: 70%;
    vertical-align: middle;
}

header > .header-item > .header-login > a {
    font-size: 1.3em;
    display: inline-block;
    margin: 0.3em;
}