* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    clear: after;
    margin-top: 1.25em;
}

.main-left-column {
    width: 25%;
    max-width: 100em;
    margin: 2em;
}
.main-middle-column {
    width: 50%;
    max-width: 200em;
    margin: 2em;
}
.main-right-column {
    width: 25%;
    max-width: 100em;
    margin: 2em;
}

/* Add a card effect */
.card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border-style: none;
    margin-top: 2.5em;
    margin-bottom: 4em;
}

.card search {
    text-align: center;
}

.card search input[type=text] {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    width: 30em;
    max-width: 100%;
    height: 3em;
    border-style: solid;
    border-radius: 1em 1em 1em 1em;
    border-width: 0.1em;
    border-color: black;
    text-align: center;
    padding: 0.4em 0.4em 0.4em 3em;
    margin: 0.5em;
    background-image: url('/static/icons/searchicon.png');
    background-position: 0.7em 0.7em;
    background-repeat: no-repeat;
    background-size: 1.75em 1.75em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 0.5em;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.grid-item {
    background-color: white;
    padding: 0.5em;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.15em;
    border-color: #ddd;
}

.grid-option-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
}

.grid-option {
    margin: 1em;
}

button, input[type=submit], input[type=password], input[type=email], input[type=number], input[type=text], select, .button-like, .button-display {
    background-color: white;
    padding: 0.35em;
    border: solid;
    font-size: 1.2em;
    border-width: 0.1em;
    border-radius: 0.25em;
    margin: 0.1em;
    border-color: black;
    text-decoration: none;
    color: blacK;
}

button:hover, input[type=submit]:hover, .button-like:hover {
    background-color: #ddd;
}

.topic-link {
    display: inline-block;
    background-color:#8FBC8F;
    border-radius: 5px;
    padding: 0.25em;
    margin: 0.2em;
    color: DarkSlateGray;
    text-decoration: none;
}

.topic-container {
    display: block;
    width: 100%;
    max-height: 20em;
    overflow-y: scroll;
    scrollbar-width: auto;
}

.recipe-container {
    text-align: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    box-sizing: content-box;
    text-align: center;
    padding-top: 1.5em;
    width: 100%;
    padding-bottom: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

}