{% extends 'main.html' %}

{% block content %}

<div class="main_column">
    <div class="topnav">
    <a href="{{request.META.HTTP_REFERER}}">Zurück</a>
    </div>

    <h2> Downloads </h2>

     <ul style="text-align: left; position: relative">
      <li> Zugriff auf die Datenbank über REST framework. Zum <a href="{% url 'api_overview' %}" > Überblick. </a> </li>
      <li>Alle Rezepte als JSON über REST-API. Nachfolgendes 'Speichern'. Zum <a href="{% url 'api_recipes' %}?format=json" > Download. </a> </li>
      <li>Alle Topics mit ID als JSON über REST-API. Nachfolgendes 'Speichern'. Zum <a href="{% url 'api_topics' %}?format=json" > Download. </a> </li>
      <form method="POST" action="{% url 'downloads' %}">
          {% csrf_token %}
         <li> Bilder als ZIP packen: <input type="submit" name="zip_recipes" value="ZIP"/>. Zum <a href="{{ media_url }}recipes.zip" > Download. </a>
         </li>
      </form>
      <form method="POST" action="{% url 'downloads' %}">
          {% csrf_token %}
         <li> Erstelle ein Buch der Rezepte mit LateX: <input type="submit" name="compile_tex" value="LaTeX"/> oder <input type="submit" name="compile_tex" value="LaTeX+Bilder"/>. Zum <a href="{{ media_url }}book.tex" > Download. </a>
         </li>
      </form>
    </ul>

</div>

{% endblock content %}