{% extends 'main.html' %}

{% block content %}

<style>
    .span_green {
        background-color:#8FBC8F;
        border-radius: 5px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
</style>

<div class="row">
    <div class="home_smallcolumn">
        <div class="card">
                <h3>Kategorien</h3>
            <span class="span_green">
                <a href="{% url 'home' %}" style="text-decoration: none; color: DarkSlateGray;">Alle ({{max_recipes}})</a>
                </span>
            <p style="line-height: 1.6">
                {% for topic in topics %}
            <span class="span_green">
                <a href="{% url 'home' %}?q={{topic.name}}" style="text-decoration: none; color: DarkSlateGray;">{{topic.name}}({{topic.recipe_set.all.count}})</a>
            </span>
                &nbsp;
                {% endfor %}
            </p>
        </div>
        <div class="card">
            <h3>Sortieren</h3>
            <form method="GET" action="{% url 'home' %}">
            <select name="srtval" id="srtval">
            <option value="rating">Bewertung</option>
            <option value="persons">Personen</option>
            <option value="created">Erstellt</option>
            <option value="updated">Geändert</option>
            <option value="difficulty">Schwierigkeitsgrad</option>
            <option value="expected_time_total">Gesamtzeit</option>
            <option value="nutrients_person">Nährwert (pro Portion)</option>
            </select>
                <input type="submit" name="srtdir" value="Auf">
                <input type="submit" name="srtdir" value="Ab">
            {% if request.GET.q %}
                <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
            {% endif %}
            </form>
        </div>
        <div class="card">
            <h3>Ein Top Rezept der Seite</h3>
            {% if recipe_best %}
            <p><a href="{% url 'recipe' recipe_best.id %}">{{recipe_best.name}}</a></p>
            <p>Schwierigkeit: {{recipe_best.difficulty}}, Bewertung: {{recipe_best.rating|floatformat:"2"}} </p>
            <p>Gesamtzeit: {{ recipe_best.expected_time_total|floatformat:"0" }} min </p>
            {% endif %}
        </div>
        <div class="card">
                <h3>Neuste</h3>
                {% for recipe in recipes_latest %}
                <a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>
                <br>
                {% endfor %}
        </div>
    </div>
  <div class="home_maincolumn">
        <div class="grid-container">
        {% for recipe in recipes %}
            <div class="card">
                <p>
                    {% if recipe.image_meal %}
                    <a href="{% url 'recipe' recipe.id %}"><img src="{{ recipe.image_meal.url }}" style="width: 100%; height: 100%;" ></a>
                    {% endif %}
                </p>
                <a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>
                <p>
                    {% if recipe.rating %}
                        {% for i in '12345'|make_list  %}
                            {% if i|add:"0" <= recipe.rating %}
                                <span style='color:#f1c40f'>&#9733;</span>
                            {% else %}
                                <span style='color:#ccd1d1'>&#9733;</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span style='color:#ccd1d1'>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    {% endif %}
                    ({{ recipe.rating|default_if_none:"-" }}) <br>

                    Schwierigkeit: {{recipe.difficulty}} <br>
                    Gesamtzeit: {{ recipe.expected_time_total|floatformat:"0" }} min <br>
                    {% if  recipe.nutrients_person %}
                        Nährwert: {{ recipe.nutrients_person|floatformat:"0" }} kcal
                    {% else %}
                        Nährwert: - kcal
                    {% endif%}
                </p>

            </div>
            {% endfor %}
        </div>

        <div class="card" style="text-align:center;">
            <form method="GET" action="{% url 'home' %}">

                {% if page_browser_show_back is not None %}
                    <button type="submit" name="pgNr" value="{{page_browser_show_back}}">&larr; Zurück</button>
                {% endif %}
                {% if page_browser_show_start is not None %}
                    <button type="submit" name="pgNr" value="{{page_browser_show_start}}">{{page_browser_show_start|add:"1"}}</button>
                {% endif %}
                {% if page_browser_show_start_dots %}
                    ...
                {% endif %}
                {% for i in page_browser_choices_down %}
                    <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
                {% endfor %}
                {{page_browser_current_index|add:"1"}}
                {% for i in page_browser_choices_up %}
                    <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
                {% endfor %}
                {% if page_browser_show_stop_dots %}
                    ...
                {% endif %}
                {% if page_browser_show_stop is not None %}
                    <button type="submit" name="pgNr" value="{{page_browser_show_stop}}">{{page_browser_show_stop|add:"1"}}</button>
                {% endif %}
                {% if page_browser_show_next is not None %}
                    <button type="submit" name="pgNr" value="{{page_browser_show_next}}">Weiter &rarr;</button>
                {% endif %}
                <!-- Hidden input -->
                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.srtdir %}
                    <input type="hidden" name="srtdir" value="{{request.GET.srtdir|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.srtval %}
                    <input type="hidden" name="srtval" value="{{request.GET.srtval|default_if_none:''}}"/>
                {% endif %}
            </form>
        </div>

  </div>

</div>




{% endblock content %}
