{% extends 'main.html' %}

{% block content %}

<style>
    .div_img_icon {
        float: left;
        width: 20%;
        height: 120px;
        margin-right: 20px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    .div_img_icon_center {
        float: center;
        width: 50%;
        position: relative;
        height: 120px;
        margin-right: 20px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    .span_green {
        background-color:#8FBC8F;
        border-radius: 5px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
</style>

<div class="row">
    <div class="home_smallcolumn">
        <div class="card">
                <h3>Kategorien</h3>
            <span class="span_green">
                <a href="{% url 'home' %}" style="text-decoration: none; color: DarkSlateGray;">Alle ({{max_recipes}})</a>
                </span>
            <p style="line-height: 1.6">
                {% for topic in topics %}
            <span class="span_green">
                <a href="{% url 'home' %}?q={{topic.name}}" style="text-decoration: none; color: DarkSlateGray;">{{topic.name}}({{topic.recipe_set.all.count}})</a>
            </span>
                &nbsp;
                {% endfor %}
            </p>
        </div>
        <div class="card">
            <h3>Sortieren</h3>
            <form method="GET" action="{% url 'home' %}">
            <select name="srtval" id="srtval">
            <option value="rating">Bewertung</option>
            <option value="persons">Personen</option>
            <option value="created">Erstellt</option>
            <option value="updated">Geändert</option>
            <option value="difficulty">Schwierigkeitsgrad</option>
            <option value="expected_time_total">Gesamtzeit</option>
            <option value="nutrients_person">Nährwert (pro Portion)</option>
            </select>
                <input type="submit" name="srtdir" value="Auf">
                <input type="submit" name="srtdir" value="Ab">
            {% if request.GET.q %}
                <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
            {% endif %}
            </form>
        </div>
    </div>
  <div class="home_centercolumn">
        {% for recipe in recipes %}
        <div class="card">
            <div class="div_img_icon">
                {% if recipe.image_meal %}
                    <img src="{{ recipe.image_meal.url }}" style="width: 100%; height: 100%;" >
                {% endif %}
            </div>
            <a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>
            <p>Schwierigkeit: {{recipe.difficulty}}, Bewertung: {{recipe.rating}} </p>
            <p>Gesamtzeit: {{ recipe.expected_time_total|floatformat:"0" }} min </p>
        </div>
        {% endfor %}
        <div class="card">
            <form method="GET" action="{% url 'home' %}">
                 <label>Seite:</label>
                {% for i in iter_pages %}
                {% if i != pgNr %}
                    <input type="submit" name="pgNr" value="{{i}}"/>
                {% else %}
                    {{ i }}
                {% endif %}
                {% endfor %}

                {% if request.GET.q %}
                <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
                {% endif %}

                {% if request.GET.srtdir %}
                    <input type="hidden" name="srtdir" value="{{request.GET.srtdir|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.srtval %}
                    <input type="hidden" name="srtval" value="{{request.GET.srtval|default_if_none:''}}"/>
                {% endif %}
            </form>
        </div>

  </div>
    <div class="home_smallcolumn">
        <div class="card">
            <h3>Ein Top Rezept der Seite</h3>
            {% if recipe_best %}
            <p><a href="{% url 'recipe' recipe_best.id %}">{{recipe_best.name}}</a></p>
            <p>Schwierigkeit: {{recipe_best.difficulty}}, Bewertung: {{recipe_best.rating}} </p>
            <p>Gesamtzeit: {{ recipe_best.expected_time_total|floatformat:"0" }} min </p>
            {% endif %}
        </div>
        <div class="card">
                <h3>Neuste</h3>
                {% for recipe in recipes_latest %}
                <a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>
                <br>
                {% endfor %}
        </div>
    </div>
</div>




{% endblock content %}
