<div class="card">
    <div class="grid-option-container">
        <div class="grid-option">
            <h3>Sortieren</h3>
            <form method="GET" action="{% url 'recipes' %}">
                <select name="srtval" id="srtval">
                    {% for v, n in sort_items %}
                        {% if request.GET.srtval %}
                            {% if request.GET.srtval == v %}
                                <option value="{{v}}" selected>{{n}}</option>
                            {% else %}
                                <option value="{{v}}">{{n}}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{v}}">{{n}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <button type="submit" name="srtdir" value="Auf">&uarr;</button>
                    <button type="submit" name="srtdir" value="Ab">&darr;</button>

                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.tpc %}
                    <input type="hidden" name="tpc" value="{{request.GET.tpc|default_if_none:''}}"/>
                {% endif %}
            </form>
        </div>
         <div class="grid-option">
            <h3>Filtern nach Kategorie</h3>
            <form method="GET" action="{% url 'recipes' %}">
                <select name="tpc" id="tpc" size="1">
                    <option value=""> Keine </option>
                    {% for t in topics %}
                        {% if request.GET.tpc %}
                            {% if t.id|lower == request.GET.tpc %}
                                <option value="{{ t.id }}" selected> {{t.name}} </option>
                            {% else %}
                                <option value="{{ t.id }}" > {{t.name}} </option>
                            {% endif %}
                        {% else %}
                            <option value="{{ t.id }}"> {{t.name}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="&rarr;" />

                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
                {% endif %}
            </form>
        </div>
        <div class="grid-option">
            <h3>Rezepte pro Seite</h3>
            <form method="GET" action="{% url 'recipes' %}">
                <button type="submit" value="10" name="pgShow">10</button>
                <button type="submit" value="50" name="pgShow">50</button>
                <button type="submit" value="50" name="pgShow">100</button>
                <button type="submit" value="200" name="pgShow">200</button>

                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.tpc %}
                    <input type="hidden" name="tpc" value="{{request.GET.tpc|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.srtdir %}
                    <input type="hidden" name="srtdir" value="{{request.GET.srtdir|default_if_none:''}}"/>
                {% endif %}
                {% if request.GET.srtval %}
                    <input type="hidden" name="srtval" value="{{request.GET.srtval|default_if_none:''}}"/>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<div class="grid-container">
    {% for recipe in recipes %}
        <div class="grid-item">
            <p>
                {% if recipe.image_meal %}
                <a href="{% url 'recipe' recipe.id %}"><img src="{{ recipe.image_meal.url }}" style="width: 100%; height: 100%;" ></a>
                {% endif %}
            </p>
            <a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>
            <p>
                {% if recipe.rating_mean %}
                    {% for i in '12345'|make_list  %}
                        {% if i|add:"0" <= recipe.rating_mean %}
                            <span style='color:#f1c40f'>&#9733;</span>
                        {% else %}
                            <span style='color:#ccd1d1'>&#9733;</span>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span style='color:#ccd1d1'>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                {% endif %}
                ({{ recipe.rating_mean|default_if_none:"-" }}) <br>

                Schwierigkeit:
                {% if recipe.difficulty in diff_lookup %}
                    {% for key, value in diff_lookup.items %}
                    {% if key == recipe.difficulty %}
                        {{value}}
                    {% endif %}
                    {% endfor %}
                {% else %}
                    Grad {{ recipe.difficulty|default_if_none:"-" }}
                {% endif%}
                <br>
                Gesamtzeit: {{ recipe.expected_time_total|floatformat:"0" }} min <br>
                {% if  recipe.nutrients_person %}
                    Nährwert: {{ recipe.nutrients_person|floatformat:"0" }} kcal
                {% else %}
                    Nährwert: - kcal
                {% endif%}
            </p>
        </div>
    {% endfor %}
</div>

<div class="card">
    <div class="grid-option" style="text-align:center;">

    <form method="GET" action="{% url 'recipes' %}">

        {% if page_browser_show_back is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_back}}">&larr; Zurück</button>
        {% endif %}
        {% if page_browser_show_start is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_start}}">{{page_browser_show_start|add:"1"}}</button>
        {% endif %}
        {% if page_browser_show_start_dots %}
            ...
        {% endif %}
        {% for i in page_browser_choices_down %}
            <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
        {% endfor %}
        <span class="button-display">{{page_browser_current_index|add:"1"}}<span>
        {% for i in page_browser_choices_up %}
            <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
        {% endfor %}
        {% if page_browser_show_stop_dots %}
            ...
        {% endif %}
        {% if page_browser_show_stop is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_stop}}">{{page_browser_show_stop|add:"1"}}</button>
        {% endif %}
        {% if page_browser_show_next is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_next}}">Weiter &rarr;</button>
        {% endif %}
        <!-- Hidden input -->
        {% if request.GET.q %}
            <input type="hidden" name="q" value="{{request.GET.q|default_if_none:''}}"/>
        {% endif %}
        {% if request.GET.srtdir %}
            <input type="hidden" name="srtdir" value="{{request.GET.srtdir|default_if_none:''}}"/>
        {% endif %}
        {% if request.GET.srtval %}
            <input type="hidden" name="srtval" value="{{request.GET.srtval|default_if_none:''}}"/>
        {% endif %}
        {% if request.GET.tpc %}
            <input type="hidden" name="tpc" value="{{request.GET.tpc|default_if_none:''}}"/>
        {% endif %}
    </form>
    </div>
</div>