{% extends 'main.html' %}

{% block content %}


<style>
table {
  float: center;
  font-family: arial,
  sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  border: 1;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.side {
  float: left;
  width: 30%;
  margin-top: 0.5em;
}

.middle {
  margin-top: 0.5em;
  float: left;
  width: 60%;
}

/* Place text to the right */
.right {
  float: left;
  width: 10%;
  margin-top: 0.5em;
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.bar {width: 0%; height: 1em; background-color: #ff9800;}

</style>

<div class="main-container">
<div class="main-middle-column">
    <ul class="breadcrumb">
        <li><a href="{{request.META.HTTP_REFERER}}">Zurück</a></li>
        <li><a href="{% url 'recipes' %}">Rezepte</a></li>
        <li>Rezept: {{ recipe.name }}</li>
    </ul>

    <div class="recipe-container">

        <div style="text-align: right;">
            {% if request.user.is_authenticated %}
                <form method="POST" action="" >
                {% csrf_token %}
                    {% if user_has_liked %}
                        <button type="submit" style="color:red;" value="0" name="like"> &#10084; Liked</button>
                    {% else %}
                        <button type="submit" style="font-size:black" value="1" name="like"> &#9825; Like </button>
                    {% endif %}
                </form>
            {% endif %}
        </div>

        <div style="text-align: left;">
        {% if request.user.is_authenticated %}
            {% if request.user == recipe.owner %}
            <p>
                <a href="{% url 'update-recipe' recipe.id %}" class="button-like"> &#9998; Bearbeiten </a>
                <a href="{% url 'delete-recipe' recipe.id %}" class="button-like"> &#10006; Löschen </a>
            </p>
            {% endif %}
        {% endif %}
        </div>

        <h1>{{recipe.name}}</h1>
        <p>
            {% for x in recipe_topics%}
                <span style="background-color:#8FBC8F; border-radius: 5px; padding: 1px;">{{x}}</span>
            {% endfor %}
        </p>
        <p>
            {% if recipe.rating_mean %}
                {% for i in '12345'|make_list  %}
                    {% if i|add:"0" <= recipe.rating_mean %}
                        <span style='color:#f1c40f'>&#9733</span>
                    {% else %}
                        <span style='color:#ccd1d1'>&#9733</span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span style='color:#ccd1d1'>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
            {% endif %}
            ({{ recipe.rating_mean|default_if_none:"-" }}) and <span style="color:red;">&#10084;</span> ({{ likes_count }})
        </p>
        {% if recipe.image_meal %}
            <img src="{{ recipe.image_meal.url }}" style="width: auto; height: 300px; max-width: 100%;" >
        {% endif %}
        <p>
             &#128337; Gesamtzeit: {{ recipe.expected_time_total|floatformat:"0" }} min,
            Arbeitszeit: {{ recipe.expected_time_work|floatformat:"0"  }} min <br>
            Koch-/Backzeit: {{ recipe.expected_time_bake|floatformat:"0"  }} min,
            Ruhezeit: {{ recipe.expected_time_rest|floatformat:"0" }} min
        </p>
        <p>
            Schwierigkeit:
            {% if recipe.difficulty in diff_lookup %}
                {% for key, value in diff_lookup.items %}
                {% if key == recipe.difficulty %}
                    {{value}}
                {% endif %}
                {% endfor %}
            {% else %}
                Grad {{ recipe.difficulty|default_if_none:"-" }}
            {% endif%}
        </p>
        <p>
            Nährwerte pro Portion: {{ recipe.nutrients_person|default_if_none:"-" }} kcal
        </p>
        <br>
        <h3 id="ingredients">Zutaten:  </h3>

            <form method="GET" action="#ingredients" >
            <label for="id_persons">Personen:</label>
            <input type="number" id="id_persons" name="persons" min="1" max="100" value="{{required_persons}}">
            <input type="submit" value="Berechne" />
            </form>
            <br>
            <table>
            {% for value, desc in ingredients_formated %}
            <tr>
              <td style="width:20%; text-align:right;">{{value}}</td>
              <td style="width:70%; text-align:left;">{{desc}}</td>
            </tr>
            {% endfor %}
            </table>
        <br>
        <h3>Zubereitung:</h3>
        <div style="text-align: left; display: inline-block; width: 100%">
        <p>{{ recipe.steps|linebreaks  }}</p>
        </div>
        <br>
        <h3>Tipps:</h3>
        <div style="text-align: left; display: inline-block; width: 100%">
        <p>{{ recipe.tips|linebreaks  }}</p>
        </div>
        <br>

        <h3>Nährwerte pro Person:</h3>
        <p>
            {{ recipe.nutrients_table|linebreaks  }}
        </p>

        <br>
        <br>

        <p>
            Referenz: {{ recipe.reference|default_if_none:"-"  }}
        </p>
        <p>
            Von <a href="{% url 'user-profile' recipe.owner.id %}" >{{recipe.owner.username|default_if_none:"Unkown"}}</a>,
            erstellt vor {{ recipe.created|timesince  }},
            geändert vor {{ recipe.updated|timesince  }}
        </p>
        <br>


        {% if request.user.is_authenticated %}
        <br>
        <h2>Meine Bewertung</h2>
        <div style="text-align:center; width:100%;">
            <form method="POST" action="" >
                {% csrf_token %}

            <label for="id_stars">Sterne:</label>
            <input type="number" id="id_stars" name="stars" required min="1" max="5" value="0">
            <label for="id_body">Text (optional):</label>
            <input type="text" name="body" maxlength="500" id="id_body" style="width: 300px; max-width: 75%;">
            <input type="submit" value="Bewerten" />
            </form>
        </div>
        <br>
        {% endif %}

        <br>
        <h2 id="user_ratings">User Bewertungen</h2>
        {% if recipe.rating_mean %}
            {% for i in '12345'|make_list  %}
                {% if i|add:"0" <= recipe.rating_mean %}
                    <span style='color:#f1c40f'>&#9733</span>
                {% else %}
                    <span style='color:#ccd1d1'>&#9733</span>
                {% endif %}
            {% endfor %}
        {% else %}
            <span style='color:#ccd1d1'>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
        {% endif %}
        ({{ recipe.rating_mean|default_if_none:"-" }}) von {{ recipe.rating_count|default_if_none:"-" }} Bewertungen
        <div class="row">
        <div class="side">
        <div><span style='color:#f1c40f'>&#9733; &#9733; &#9733; &#9733; &#9733;</span></div>
        </div>
        <div class="middle">
        <div class="bar-container">
          <div class="bar" style="width:{{ rating_5_per_cent }}%"></div>
        </div>
        </div>
        <div class="right">
        <div> {{recipe.rating_5}} </div>
        </div>
        </div>
        <div class="row">
        <div class="side">
        <div><span style='color:#f1c40f'>&#9733; &#9733; &#9733; &#9733; </span><span style='color:#ccd1d1'>&#9733;</span></div>
        </div>
        <div class="middle">
        <div class="bar-container">
          <div class="bar" style="width:{{ rating_4_per_cent }}%"></div>
        </div>
        </div>
        <div class="right">
        <div>{{recipe.rating_4}}</div>
        </div>
        </div>
        <div class="row">
        <div class="side">
        <div><span style='color:#f1c40f'>&#9733; &#9733; &#9733; </span><span style='color:#ccd1d1'>&#9733; &#9733;</span></div>
        </div>
        <div class="middle">
        <div class="bar-container">
          <div class="bar" style="width:{{ rating_3_per_cent }}%"></div>
        </div>
        </div>
        <div class=" right">
        <div>{{recipe.rating_3}}</div>
        </div>
        </div>
        <div class="row">
        <div class="side">
        <div><span style='color:#f1c40f'>&#9733; &#9733; </span><span style='color:#ccd1d1'>&#9733; &#9733; &#9733;</span></div>
        </div>
        <div class="middle">
        <div class="bar-container">
          <div class="bar" style="width:{{ rating_2_per_cent }}%"></div>
        </div>
        </div>
        <div class=" right">
        <div>{{recipe.rating_2}}</div>
        </div>
        </div>
        <div class="row">
        <div class="side">
        <div><span style='color:#f1c40f'>&#9733; </span><span style='color:#ccd1d1'>&#9733; &#9733; &#9733; &#9733;</span></div>
        </div>
        <div class="middle">
        <div class="bar-container">
          <div class="bar" style="width:{{ rating_1_per_cent }}%"></div>
        </div>
        </div>
        <div class="right">
        <div>{{recipe.rating_1}}</div>
        </div>
        </div>


        <div style="text-align:left;">
            <br>
        {% for rate in ratings %}
        <p>
            {% if rate.body %}
                {{rate.stars}} Sterne von <a href="{% url 'user-profile' rate.user.id %}" >{{rate.user.username|default_if_none:"Unkown"}}</a>: {{rate.body}}
            {% else %}
                {{rate.stars}} Sterne von <a href="{% url 'user-profile' rate.user.id %}" >{{rate.user.username|default_if_none:"Unkown"}}</a>
            {% endif %}
        </p>
        {% endfor %}
        </div>


    <div style="text-align:center;">

    <form method="GET" action="#user_ratings">
        Seiten:
        {% if page_browser_show_back is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_back}}">&larr; Zurück</button>
        {% endif %}
        {% if page_browser_show_start is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_start}}">{{page_browser_show_start|add:"1"}}</button>
        {% endif %}
        {% if page_browser_show_start_dots %}
            ...
        {% endif %}
        {% for i in page_browser_choices_down %}
        <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
        {% endfor %}
        <span class="button-display"><u>{{page_browser_current_index|add:"1"}}</u></span>
        {% for i in page_browser_choices_up %}
            <button type="submit" name="pgNr" value="{{i}}">{{i|add:"1"}}</button>
        {% endfor %}
        {% if page_browser_show_stop_dots %}
            ...
        {% endif %}
        {% if page_browser_show_stop is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_stop}}">{{page_browser_show_stop|add:"1"}}</button>
        {% endif %}
        {% if page_browser_show_next is not None %}
            <button type="submit" name="pgNr" value="{{page_browser_show_next}}">Weiter &rarr;</button>
        {% endif %}
        <!-- Hidden input -->

        {% if request.GET.persons %}
            <input type="hidden" name="persons" value="{{request.GET.persons|default_if_none:''}}"/>
        {% endif %}

    </form>
    </div>

</div>

</div>
</div>

{% endblock %}